@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StretchPro";
  src: url("../assets/fonts/StretchPro.ttf") format("truetype");;
  font-weight: normal;
}

.font-stretchpro {
  font-family: StretchPro !important;
}
