@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StretchPro";
  src: local("StretchPro"),
    url("/src/assets/fonts/StretchPro.ttf") format("truetype");
  font-weight: normal;
}

.font-strech {
  font-family: StretchPro !important;
}

.border {
  border: 2px;
  border-color: gradient(#5e548e, #9f86c0);
}

.underline-title {
  text-decoration: underline wavy #5e548e;
}
